/NetBeans/Tablas/nbproject/private/
/NetBeans/Tablas/build/
/NetBeans/BaseDatos/nbproject/private/
/NetBeans/BaseDatos/build/
/NetBeans/ConsumoAPI/nbproject/private/
/NetBeans/ConsumoAPI/build/
/API/ApiPokemon/nbproject/private/
/API/ApiPokemon/build/
/NetBeans/DigiApi/nbproject/private/
/NetBeans/DigiApi/build/
